*{
    margin:0;
    padding:0;
}

#wrapper{
    display: flex;
    border:none;
    padding:0 0 30px 0;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    justify-content: center;
    background-color: lightblue;
}

h1{
    text-align: center;
    background-color: lightblue;
    padding:20px;
    font-size:40px;
}

div{
    display:flex;
    flex-direction:column;
    padding:20px 10px;
    border:1px solid black;
    width:25%;
    text-align: center;
    background-color:white;
}

h2{
    padding:10px 0;
    font-size:30px;
}

button{
    width:150px;
    align-self: center;
    font-size:18px;
}

p{
    font-size:20px;
    text-align: left;
    padding:20px 20px;
}

#second_p{
    padding:0 20px;
    font-weight:bold;
}

img{
    width:200px;
    align-self: center;
}

input[value="Nothing"] {
    font-size:20px;
    text-align: center;
}

.blue{
    background-color:blue;
    color:white;
}